IONIC_ENROLLMENT_ENDPOINT=
IONIC_API_BASE_URL=
IONIC_TENANT_ID=
IONIC_API_AUTH_TOKEN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DYNAMODB_ENDPOINT=https://dynamodb.us-east-1.amazonaws.com/
AWS_DYNAMODB_TABLE_NAME=IonicDemoState
